<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Demo">
    <insert id="save" parameterType="demo">
        insert into demo_table(name, age)
            values(#{name}, #{age})
    </insert>
    <select id="list" resultType="demo">
        select * from demo_table
    </select>

    <select id="find" resultType="demo" parameterType="Long">
        select * from demo_table where id = #{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from demo_table where id = #{id}
    </delete>

    <update id="update" parameterType="demo">
        update demo_table set name=#{name}, age=#{age} where id=#{id}
    </update>
</mapper>