<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>

<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
        </tr>
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.boardHits}"></td>
            <td><input th:value="${board.id}" name="id" type="hidden"></td>
            <td><input th:value="${board.boardPass}" name="boardPw" type="hidden"></td>
            <td>
                <button th:onclick="checkk_fn()">수정</button>
            </td>
            <td>
                <button th:onclick="check_fn()">삭제</button>
            </td>
        </tr>
    </table>

    <div id="checkPw" style="display: none">

    </div>
</div>
</body>
<script th:inline="javascript">

    const checkk_fn = () => {
        const checkPw = document.querySelector("#checkPw");
        checkPw.style.display = "block";
        let result = "<input type=\"password\" placeholder=\"비밀번호입력바람!\" name=\"checkkPw\" onblur='update_fn()'>";
        checkPw.innerHTML = result;
    }


    const check_fn = () => {
        const checkPw = document.querySelector("#checkPw");
        checkPw.style.display = "block";
        let result = "<input type=\"password\" placeholder=\"비밀번호입력바람!\" name=\"checkPw\" onblur='delete_fn()'>";
        checkPw.innerHTML = result;
    }

    const update_fn = () => {
        const boardPass = document.querySelector("[name = 'checkkPw']").value;
        const boardPw = document.querySelector("[name = 'boardPw']").value;
        if(boardPass== boardPw){
            const id = document.querySelector("[name = 'id']").value;
            location.href=`/board/update/${id}`;
        }else{
            alert("틀림")
        }
    }

    const delete_fn = () => {
        const boardPass = document.querySelector("[name = 'checkPw']").value;
        const boardPw = document.querySelector("[name = 'boardPw']").value;
        if(boardPass== boardPw){
            const id = document.querySelector("[name = 'id']").value;
            $.ajax({
                type:"delete",
                url:`/board/${id}`,
                success:function(){
                    location.href="/board";
                }
            })
        }else{
            alert("틀림")
        }
    }
</script>
</html>